*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #efefef;
}
.header{
  vertical-align:middle;
}
.logo {
    width: 50%;
    display: inline-block;
}

.header-link {
    width: 49%;
    display: inline-block;
    text-align: right;
}
